// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'ui-sans-serif',system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors

$primary: #2563eb;
